<tbody>
  <tr>
    <td><%= f.label :item_image, "商品画像(任意)" %></td>
    <td><%= f.file_field :item_image, accept: 'image/*' %></td>
  </tr>
  <tr>
    <td><%= f.label :item_name, "商品名(*必須)" %></td>
    <td><%= f.text_field :item_name, placeholder: "商品名", :size=>"60" %></td>
  </tr>
  <tr>
    <td><%= f.label :large_category_id, "大カテゴリ(*必須)"  %></td>
    <% if large_category_id.nil? %>
      <!--新規投稿画面で使用-->
      <td><%= f.collection_select(:large_category_id, large_categories, :id, :name, { prompt: "--選択してください--" }, {style: "width:300px;", id: "large_category" }) %></td>
    <% else %>
    　<!--投稿編集画面で使用-->
      <td><%= f.collection_select(:large_category_id, large_categories, :id, :name, { selected: large_category_id }, {style: "width:300px;", id: "large_category" }) %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= f.label :item_category_id, "小カテゴリ(*必須)"  %></td>
    <td><%= f.collection_select(:item_category_id, item_categories, :id, :name, { prompt: "--選択してください--" }, {style: "width:300px;", id: "item_category" }) %></td>
  </tr>
  <tr>
    <td><%= f.label :rate, "評価(*必須)", class:"" %></td>
    <td>
      <div class="" id="star">
        <%= f.hidden_field :rate, id: :rate %>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= f.label :review_title, "レビュータイトル(任意)" %></td>
    <td><%= f.text_field :review_title, :size=>"60" %></td>
  </tr>
  <tr>
    <td><%= f.label :review_body, "レビュー内容(任意)" %></td>
    <td><%= f.text_area :review_body, rows: "6", cols: "60" %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if post.new_record? %>
        <%= f.submit "新規投稿", class: "btn btn-outline-success mb-5" %>
      <% else %>
        <%= f.submit "変更を保存", class:"btn btn-outline-success mb-5" %>
      <% end %>
    </td>
  </tr>
</tbody>

<script>
 $('#star').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   scoreName: 'post[rate]',
   score: '<%= post.rate %>',
   half: true,
 });
</script>