    <% posts.each do |post| %>
      <div class="mb-2", style="float:left; margin-left:80px;">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_item_image, size:"250x180" %>
        <% end %>
        <div id="star<%= post.id %>">
          <script>
            $('#star<%= post.id %>').empty();
            $('#star<%= post.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly  : true,
              score     : '<%= post.rate %>',
            });
          </script>
        </div>
        <div style="word-wrap:break-word; width:250px;">
          <%= post.item_name %></br>
        </div>
        <div style="word-wrap:break-word; width:250px;">
          <%= image_tag post.user.get_profile_image, size:"50x50" %>
          <%= post.user.nickname %>さん
        </div>
      </div>
    <% end %>
  </div>
</div>
