<tr>
  <td>投稿日:</td>
  <td class="pb-1"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
</tr>
<tr>
  <td>商品名:</td>
  <td class="pb-1"><%= post.item_name %></td>
</tr>
<tr>
  <td>商品カテゴリ:</td>
  <td class="pb-1"><%= post.item_category.name %></td>
</tr>
<tr>
  <td>評価:</td>
  <td class="pb-3">
    <div id="star<%= post.id %>">
      <script>
        $('#star<%= post.id %>').empty();
        $('#star<%= post.id %>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        readOnly: true,
        score: <%= post.rate %>,
        });
      </script>
    </div>
  </td>
</tr>
<tr>
  <td class="pb-2">スーパー名:</td>
  <td class="pb-2"><%= post.store_name %></td>
</tr>
<tr>
  <td>レビュータイトル:</td>
  <td></td>
</tr>
<tr>
  <!--新規投稿画面での文章の改行を反映して表示-->
  <td colspan="2"><%= simple_format(post.review_title) %></td>
</tr>
<tr>
  <td>レビュー内容:</td>
  <td></td>
</tr>
<tr>
  <!--新規投稿画面での文章の改行を反映して表示-->
  <td colspan="2" class="sentiment-score">
    <!--スコアの値に応じて色分け-->
    <% if post.score >= 0 %>
      <span class="text-info">ポジティブスコア[<%= post.score %>]</span></br>
    <% else %>
      <span class="text-danger">ネガティブスコア[<%= post.score %>]</span></br>
    <% end %>
    <%= simple_format(post.review_body) %>
  </td>
</tr>
