<div class="container">
  <div class="field_with_errors">
    <h1><%= @large_category.name %></h1>
    <%= flash[:notice] %>
    <%= form_with model: @item_category, url: admin_large_category_item_categories_path(@large_category) do |f| %>
      <b><%= f.label :name, "カテゴリ名" %></b>
      <%= f.text_field :name, placeholder: "カテゴリ名(小分類)" %>
      <%= f.submit "新規登録", class: "btn btn-outline-warning" %>
    <% end %>
  </div>

  <h4>カテゴリ一覧</h4>
  <% @item_categories.each do |item_category| %>
    <h6>
      <ul class="category">
        <li>
          <%= item_category.name %>
          <%= link_to "編集する", edit_admin_item_category_path(item_category.id), class: "btn btn-outline-success" %>
          <%= link_to "削除する", admin_item_category_path(item_category), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
        </li>
      </ul>
    </h6>
  <% end %>
</div>