<div class="container">
  <div class="field_with_errors">
  <h5>カテゴリ(大分類)一覧・追加</h5>
    <%= form_with model: @large_category, url: admin_large_categories_path do |f| %>
      <b><%= f.label :name, "カテゴリ名" %></b>
      <%= f.text_field :name, placeholder: "カテゴリ名(大分類)", :size=>"40" %>
      <%= f.submit "新規登録", class: "btn btn-outline-warning" %>
    <% end %>
  </div>

  <h4>カテゴリ一覧</h4>
  <div class="row">
    <% @large_categories.each do |large_category| %>
      <div class="col-6">
        <h6>
          <ul class="category">
            <li>
            <%= link_to admin_large_category_item_categories_path(large_category), class: "text-dark" do %>
              <%= large_category.name %>
            <% end %>
            <%= link_to "編集する", edit_admin_large_category_path(large_category), class: "btn btn-outline-success" %>
            <%= link_to "削除する", admin_large_category_path(large_category), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
            </li>
          </ul>
        </h6>
      </div>
    <% end %>
  </div>
</div>