<h4>検索結果</h4>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <thead>
      <th style="width:500px;">画像をクリック!</th>
      <th style="width:600px;">ユーザー名</th>
    </thead>
    <tbody>
    <% if @users.exists? %>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, class: "rounded-circle", size: "50x50" %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    <% else %>
  　　<p>該当するユーザーは見つかりませんでした。</p>
　  <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
    <thead>
      <th>画像をクリック!</th>
      <th style="width:200px;">ユーザー名</th>
      <th style="width:500px">商品名</th>
      <th style="width:400px">スーパー名(購入場所)</th>
    </thead>
    <tbody>
    <% if @posts.exists? %>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_item_image, size: "50x50" %>
            <% end %>
          </td>
          <td><%= post.user.nickname %></td>
          <td><%= post.item_name %></td>
          <td><%= post.store_name %></td>
        </tr>
      <% end %>
    <% else %>
  　　<p>該当する商品/スーパーは見つかりませんでした。</p>
　  <% end %>
    </tbody>
  <% end %>
</table>