<div class="container">
  <%= flash[:notice] %>
  <h2 class="text-warning mt-3" style="font-family:serif;">新着レビュー</h2>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <p>最新のレビューをチェック!!</p>
      <% if @post.present? %>
      <table class="mb-5"style="word-break:break-all;">
        <thead>
          <tr>
            <th style="width:200px"></th>
            <th style="width:300px"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <%= image_tag @post.get_item_image, size: "300x300" %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%= image_tag @post.user.get_profile_image, size: "50x50" %>
              <%= link_to @post.user.nickname, user_path(@post.user.id), class: "text-dark" %>さん
            </td>
          </tr>
          <%= render "public/posts/show", post: @post %>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to posts_path do %>
        ⇒すべてのレビューを見る
      <% end %>
    </div>
  </div>
</div>