<div class="container">
  <h5>会員の投稿一覧(全<%= @total_posts %>件)</h5>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-2">
        <%= link_to admin_review_path(post) do %>
          <%= image_tag post.get_item_image, size:"120x90" %>
        <% end %>
        <div id="star<%= post.id %>">
          <script>
            $('#star<%= post.id %>').empty();
            $('#star<%= post.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly  : true,
              score     : '<%= post.rate %>',
            });
          </script>
        </div>
        <div style="word-wrap:break-word; width:120px;">
          <%= post.item_name %></br>
        </div>
        <div style="word-wrap:break-word; width:120px;">
          <%= image_tag post.user.get_profile_image, size:"50x50" %>
        </div>
        <div><%= link_to post.user.nickname, admin_user_path(post.user), class: "text-dark" %>さん</div>
      </div>
    <% end %>
  </div>
</div>