<div class="container">
  <%= flash[:notice] %>
  <h5>会員の投稿一覧(全<%= @total_posts %>件)</h5>
  <%= link_to "新しい順", admin_path(latest: "true") %>
  |<%= link_to "古い順", admin_path(old: "true") %>
  |<%= link_to "評価の高い順", admin_path(rate_count: "true") %>
  |<%= link_to "スコアの低い順", admin_path(score_count: "true") %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-3">
        <%= link_to admin_post_path(post) do %>
          <%= image_tag post.get_item_image, size: "200x200" %>
        <% end %>
        <div style="word-wrap:break-word; width:200px;">
          <b><%= post.item_name %></b></br>
        </div>
        <div class="small">コメント件数：<%= post.post_comments.count %></div>
        <!--スコアの値に応じて色分け-->
        <% if post.score >= 0 %>
          <div class="text-info font-weight-bold">ポジティブスコア[<%= post.score %>]</div>
        <% else %>
          <div class="text-danger font-weight-bold">ネガティブスコア[<%= post.score %>]</div>
        <% end %>
        <div id="star<%= post.id %>">
          <script>
            $('#star<%= post.id %>').empty();
            $('#star<%= post.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly  : true,
              score     : '<%= post.rate %>',
            });
          </script>
        </div>
        <div style="word-wrap:break-word; width:200px;">
          <%= image_tag post.user.get_profile_image, class: "rounded-circle", size: "50x50" %>
        </div>
        <div><%= link_to post.user.nickname, admin_user_path(post.user), class: "text-dark" %>さん</div>
      </div>
    <% end %>
  </div>
  <div class="pagination d-flex justify-content-center">
    <%= paginate @posts %>
  </div>
</div>