<% if post.post_comments.present? %>
  <p>コメント件数：<%= post.post_comments.count %></p>
    <% post.post_comments.each do |post_comment| %>
      <p>
      <%= image_tag post_comment.user.get_profile_image, class: "rounded-circle mb-3", size: "50x50" %>
      <%= post_comment.user.nickname %>
      <%= post_comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %>&emsp;</br>
      <%= post_comment.body %>
      <% if post_comment.user == current_user %>
        <%= link_to "削除する", post_post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-sm btn-danger", remote: true %>
      <% end %>
      </p>
    <% end %>
<% else %>
  <p class="small mt-5">コメントはまだありません</p>
<% end %>