<!--退会済みメッセージを表示-->
<%= flash[:notice] %>

<div class="container">
  <%= render "public/shared/error_messages", resource: resource %>
  <h4>新規会員登録</h4>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <table>
          <tbody>
            <tr>
              <td><%= f.label :email, "メールアドレス(*必須)" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30" %></td>
            </tr>
            <tr>
              <td class="pr-3">
                <%= f.label :password do %>
                  <% if @minimum_password_length %>
                    パスワード(<%= @minimum_password_length %>文字以上)(*必須)
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= f.password_field :password, autocomplete: "new-password", :size=>"30" %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation,"パスワード(確認用)(*必須)" %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :image, "プロフィール画像(任意)" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :nickname, "ニックネーム(*必須)" %></td>
              <td><%= f.text_field :nickname, placeholder: "20文字以内", :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :prefecture, "居住地(任意)" %></td>
              <td><%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'} %></td>
            </tr>
            <tr>
              <td><%= f.label :gender, "性別(任意)" %></td>
              <td><%= f.select :gender, User.genders.keys, {prompt: '選択してください'} %></td>
            </tr>
            <tr>
              <td><%= f.label :age, "年齢(*必須)" %></td>
              <td><%= f.select :age, options_for_select((18..100).to_a) %></td>
            </tr>
            <tr>
              <td><%= f.label :favorite_food, "好きな食べ物(任意)" %></td>
              <td><%= f.text_field :favorite_food, :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :introduction, "自己紹介(任意)" %></td>
              <td><%= f.text_area :introduction, rows: "6", cols: "30" %></td>
            </tr>
            <tr>
              <td></td>
              <td class="actions">
                <%= f.submit "新規登録", class: "btn btn-outline-primary" %>
              </td>
            </tr>
            <tr>
              <td><b style="background-color:#eee;">既に登録済みの方</b></td>
            </tr>
            <tr>
              <td><%= render "public/shared/links" %>からログインしてください。</td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>