<div class="container">
  <h5><%= @user.nickname %>さんの会員情報編集</h5>
  <%= render 'error_messages', user: @user %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
        <table>
          <tbody>
            <tr>
              <td>会員ID</td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td class="pr-5"><%= f.label :profile_image, "プロフィール画像" %></td>
              <td><%= f.file_field :profile_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :nickname, "ニックネーム" %></td>
              <td><%= f.text_field :nickname, :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :prefecture, "居住地" %></td>
              <td><%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'} %></td>
            </tr>
            <tr>
              <td><%= f.label :gender, "性別" %></td>
              <td><%= f.select :gender, User.genders.keys, {prompt: '選択してください'} %></td>
            </tr>
            <tr>
              <td><%= f.label :age, "年齢" %></td>
              <td><%= f.select :age, options_for_select((18..100).to_a, @user.age) %></td>
            </tr>
            <tr>
              <td><%= f.label :favorite_food, "好きな食べ物" %></td>
              <td><%= f.text_field :favorite_food, :size=>"30" %></td>
            </tr>
            <tr>
              <td><%= f.label :introduction, "自己紹介" %></td>
              <td><%= f.text_area :introduction, rows: "6", cols: "30" %></td>
            </tr>
            <tr>
              <td><%= f.label :is_deleted, "会員ステータス" %></td>
              <td>
                <%= f.radio_button :is_deleted, :false %>
                <%= f.label :is_deleted, "有効", class: "text-success font-weight-bold" %>
                <%= f.radio_button :is_deleted, :true %>
                <%= f.label :is_deleted, "退会", class: "text-danger font-weight-bold" %>
              </td>
            </tr>
            <tr>
              <td><%= link_to "戻る", admin_user_path(@user), class: "btn btn-outline-primary" %></td>
              <td><%= f.submit "編集を保存", class: "btn btn-outline-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
