<%= flash[:notice] %>

<% if user_signed_in? && @user == current_user %>
  <h4>マイページ</h4>
<% else %>
  <h5><%= @user.nickname %>さんのプロフィール</h5>
<% end %>

<div class="card" style="width: 18rem;">
  <div class="text-center">
    <%= image_tag @user.get_profile_image, size:"100x100" %>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        ニックネーム:&emsp;<%= @user.nickname %>
      </li>
      <li class="list-group-item">
        年齢:&emsp;<%= @user.age%>歳
      </li>
      <li class="list-group-item">
        性別:&emsp;<%= @user.gender %>
      </li>
      <li class="list-group-item">
        居住地:&emsp;<%= @user.prefecture %>
      </li>
      <li class="list-group-item">
        好きな食べ物:&emsp;<%= @user.favorite_food %>
      </li>
      <li class="list-group-item">
        自己紹介:</br><%= @user.introduction %>
      </li>
    </ul>
</div>

<div class="btn-wrapper">
  <% if user_signed_in? && @user == current_user && @user.nickname != "guestuser" %>
    <%= link_to "プロフィール情報を編集/追加する", edit_user_path(current_user), class: "btn btn-outline-success" %>
    <%= link_to "マイ投稿一覧を見る", post_path(current_user), class: "btn btn-outline-secondary mt-3" %>
  <% end %>
</div>