  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #EDAD0B;">
      <div class="container">
        <% if admin_signed_in? %>
          <a class="navbar-brand" href="/admin"><span>YumMemory</span></a>
        <% else %>
          <a class="navbar-brand" href="/"><span>YumMemory</span></a>
        <% end %>

        <% if user_signed_in? %>
        <!--ユーザーがログインしている時 -->
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class: "nav-link text-light" do %>
                投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "nav-link text-light" do %>
                お気に入り
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                ログアウト
              <% end %>
            </li>

        <% elsif admin_signed_in? %>
        <!-- 管理者がログインしている時 -->
            <li>
              <%= link_to admin_users_path, class: "nav-link text-light" do %>
                ユーザー一覧
              <% end %>
            </li>
            <li>
              <%= link_to admin_path, class: "nav-link text-light" do %>
                レビュー履歴一覧
              <% end %>
            </li>
            <li>
              <%=  link_to admin_categories_path ,class: "nav-link text-light" do %>
                カテゴリ一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                ログアウト
              <% end %>
            </li>

        <% else %>
        <!-- ログインしていない時 -->
            <li>
              <%= link_to about_path, class: "nav-link text-light" do %>
                <i class="fas fa-shopping-basket"></i>サイト概要
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class: "nav-link text-light" do %>
                <i class="fas fa-file-alt"></i>投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                <i class="fas fa-user-plus"></i>新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                <i class="fas fa-sign-in-alt text-light"></i>ログイン
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>

