<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #EDAD0B;">
    <% if admin_signed_in? %>
      <a class="navbar-brand" href="/admin"><span>YumMemory</span></a>
    <% else %>
      <a class="navbar-brand" href="/"><span>YumMemory</span></a>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <!--ユーザーがログインしている時 -->
          <li>
            <%= link_to user_path(current_user), class: "nav-link text-light" do %>
              <i class="fas fa-address-card"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: "nav-link text-light" do %>
              <i class="fas fa-marker"></i>みんなの投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to user_my_favorites_path(current_user), class: "nav-link text-light" do %>
              <i class="fas fa-thumbs-up"></i>お気に入り
            <% end %>
          </li>
          <li>
            <%= link_to categories_path, class: "nav-link text-light" do %>
              <i class="fas fa-search"></i>カテゴリで検索する
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>

        <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to admin_users_path, class: "nav-link text-light" do %>
              <i class="fas fa-users"></i>会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path, class: "nav-link text-light" do %>
              <i class="fas fa-pencil-alt"></i>レビュー履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_large_categories_path, class: "nav-link text-light" do %>
              <i class="fas fa-folder"></i>カテゴリ一覧・追加
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
        <!-- ログインしていない時 -->
          <li>
            <%= link_to about_path, class: "nav-link text-light" do %>
              <i class="fas fa-shopping-basket"></i>サイト概要
            <% end %>
          </li>
          <li>
            <%= link_to users_guest_sign_in_path, method: :post, class: "nav-link text-light" do %>
              <i class="fas fa-user"></i>ゲストログイン(閲覧用)
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
              <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: "nav-link text-light" do %>
              <i class="fas fa-sign-in-alt text-light"></i>ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render "public/searches/search" %>
    </div>
  </div>
</div>
